<h2 mat-dialog-title>Información del Recurso</h2>
<mat-divider></mat-divider>
<mat-dialog-content [formGroup]="form">
  <br />
  <mat-form-field appearance="outline">
    <mat-label>Nombre de recurso producción</mat-label>
    <input matInput placeholder="Nombre del recurso" formControlName="production">
    <div *ngIf="getForm.production.touched && getForm.production.invalid" class="alert alert-danger">
      <div *ngIf="getForm.production.errors?.required">Ingresa el nombre del recurso</div>
      <div *ngIf="getForm.production.errors?.['noBlankSpaceValid']">El nombre no puede tener espacios en blanco</div>
    </div>
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label>Nombre de recurso certificación</mat-label>
    <input matInput placeholder="Nombre del recurso" formControlName="certification">
    <div *ngIf="getForm.certification.touched && getForm.certification.invalid" class="alert alert-danger">
      <div *ngIf="getForm.certification.errors?.required">Ingresa el nombre del recurso</div>
      <div *ngIf="getForm.certification.errors?.['noBlankSpaceValid']">El nombre no puede tener espacios en blanco</div>
    </div>
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label>Alias</mat-label>
    <input matInput placeholder="Alias" formControlName="alias">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()" color="primary">Cancelar</button>
  <button mat-raised-button (click)="save()" color="primary" [disabled]="!form.valid">Agregar</button>
</mat-dialog-actions>
