<h2 mat-dialog-title>Microservicios</h2>
<mat-divider></mat-divider>
<mat-dialog-content [formGroup]="form">

  <div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Código Aplicación</mat-label>
        <input matInput placeholder="Aplicación" formControlName="codeApplication">
        <div *ngIf="getForm.codeApplication.touched && getForm.codeApplication.invalid" class="alert alert-danger">
          <div *ngIf="getForm.codeApplication.errors?.required">Ingresa el código de aplicación</div>
          <div *ngIf="getForm.codeApplication.errors?.maxlength">Usa el código de 4 dígitos</div>
          <div *ngIf="getForm.codeApplication.errors?.['noBlankSpaceValid']">No puede tener espacios en blanco</div>
        </div>
      </mat-form-field>
    </div>
    <button mat-raised-button (click)="loadDataApplication()" color="primary">Refrescar</button>
  </div>

  <div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>MVP</mat-label>
        <input matInput placeholder="MVP" formControlName="numberMvp">
        <div *ngIf="getForm.numberMvp.touched && getForm.numberMvp.invalid" class="alert alert-danger">
          <div *ngIf="getForm.numberMvp.errors?.required">Ingresa el número de MVP</div>
          <div *ngIf="getForm.numberMvp.errors?.['noBlankSpaceValid']">No puede tener espacios en blanco</div>
        </div>
      </mat-form-field>
    </div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Versión Atlas</mat-label>
        <input matInput placeholder="Versión Atlas" formControlName="versionAtlas">
      </mat-form-field>
    </div>
  </div>

  <div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nombre de Suscripción</mat-label>
        <input matInput placeholder="Nombre de suscripción" formControlName="suscriptionName">
      </mat-form-field>
    </div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>ID de Suscripción</mat-label>
        <input matInput placeholder="ID de suscripción" formControlName="suscriptionId">
      </mat-form-field>
    </div>
  </div>

  <div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nombre Microservicio</mat-label>
        <input matInput placeholder="Nombre Microservicio" formControlName="microserviceName">
      </mat-form-field>
    </div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Release Candidate</mat-label>
        <input matInput placeholder="Release Candidate" formControlName="releaseCandidate">
      </mat-form-field>
    </div>
  </div>

  <div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Grupo de Recursos Certificación</mat-label>
        <input matInput placeholder="Grupo de Recursos Certificación" formControlName="resourceGroupCertification">
      </mat-form-field>
    </div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Grupo de Recursos Producción</mat-label>
        <input matInput placeholder="Grupo de Recursos Producción" formControlName="resourceGroupProduction">
      </mat-form-field>
    </div>
  </div>

  <div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nombre AKS Certificación</mat-label>
        <input matInput placeholder="AKS Certificación" formControlName="nameAksCertification">
      </mat-form-field>
    </div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nombre AKS Producción</mat-label>
        <input matInput placeholder="AKS Producción" formControlName="nameAksProduction">
      </mat-form-field>
    </div>
  </div>

  <div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Repositorio Config Server Certificación</mat-label>
        <input matInput placeholder="Repositorio Configuración Certificación"
          formControlName="repositoryConfigCertification">
      </mat-form-field>
    </div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Repositorio Config Server Producción</mat-label>
        <input matInput placeholder="Repositorio Configuración Producción" formControlName="repositoryConfigProduction">
      </mat-form-field>
    </div>
  </div>

  <div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Job Certificaction</mat-label>
        <input matInput placeholder="Job Certificación" formControlName="jobNameCertification">
      </mat-form-field>
    </div>
    <div class="inner">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Job Producción</mat-label>
        <input matInput placeholder="Job Producción" formControlName="jobNameProduction">
      </mat-form-field>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()" color="primary">Cancelar</button>
  <button mat-raised-button (click)="save()" color="primary" [disabled]="!form.valid">Agregar</button>
</mat-dialog-actions>
