<div class="title">
  <p>Maker MVP</p>
</div>

<div id="outer" style="display: none">
  <div class="inner"><button mat-raised-button (click)="openDialogResource()">Agregar Recursos</button></div>
  <div class="inner"><button mat-raised-button (click)="openDialogStep()">Agregar Paso</button></div>
</div>

<div id="outer">
  <div class="inner"><button mat-raised-button (click)="openDialogMicroservices()">Microservicios</button></div>
</div>

<!-- RECURSOS -->
<mat-tab-group>
  <mat-divider></mat-divider>
  <br />
  <table mat-table [dataSource]="resources">
    <!-- Production Column -->
    <ng-container matColumnDef="productionColumn">
      <th mat-header-cell *matHeaderCellDef> Producción</th>
      <td mat-cell *matCellDef="let resource"> {{resource?.production}} </td>
    </ng-container>

    <!-- Certification Column -->
    <ng-container matColumnDef="certificationColumn">
      <th mat-header-cell *matHeaderCellDef> Certificación </th>
      <td mat-cell *matCellDef="let resource"> {{resource?.certification}} </td>
    </ng-container>

    <!-- Alias Column -->
    <ng-container matColumnDef="aliasColumn">
      <th mat-header-cell *matHeaderCellDef> Alias </th>
      <td mat-cell *matCellDef="let resource"> {{resource?.alias}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsResources"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsResources;"></tr>
  </table>
  <br />

  <!-- VISTA PREVIA -->
  <mat-tab label="Vista Previa">
    <!-- CERTIFICACION -->
    <div *ngIf="steps.length>0">
      <mat-divider></mat-divider>
      <div>
        <div class="sub-title"> Certificación </div>
        <div *ngFor="let step of steps">
          <p class="section-title" *ngIf="step.title">{{step.title}} </p>
          <p class="section-executor" *ngIf="step.executor?.viewValue"> RESPONSABLE: {{step.executor?.viewValue}}</p>
          <p class="section-subtitle" *ngIf="step.subtitle"> {{step.subtitle}}</p>
          <p [ngClass]="step.style?.viewValue | lowercase"> {{ replaceResourceCertification(step.detail) }}</p>
        </div>
      </div>
      <br />

      <!-- PRODUCCION -->
      <mat-divider></mat-divider>
      <div>
        <div class="sub-title"> Producción </div>
        <div *ngFor="let step of steps">
          <p class="section-title" *ngIf="step.title">{{step.title}} </p>
          <p class="section-executor" *ngIf="step.executor?.viewValue"> RESPONSABLE: {{step.executor?.viewValue}}</p>
          <p class="section-subtitle" *ngIf="step.subtitle"> {{step.subtitle}}</p>
          <p [ngClass]="step.style?.viewValue | lowercase"> {{ replaceResourceProduction(step.detail) }}</p>
        </div>
      </div>
    </div>

    <!-- MICROSERVICIOS-->
    <div *ngIf="microservices.length>0">
      <!-- CERTIFICACION -->
      <mat-divider></mat-divider>
      <div>
        <div class="sub-title"> Certificación </div>
        <div *ngFor="let m of microservices">
          <p class="section-title" *ngIf="m.microserviceName">{{m.microserviceName}} </p>
          <p class="section-title">1. Actualizar archivos de propiedades </p>
          <p class="section-executor"> Responsable: AGILEOPS Y COS ACCESOS</p>
          <p class="texto">
            A. Descargar los archivos del siguiente repositorio (branch develop) <a href={{m.repositoryConfig?.certification}} target="_blank">{{m.repositoryConfig?.certification}} </a><br>
            B. Descomprimir (ruta local). En la ruta \{{m.codeApplication}}-apis-config\yml\cer <br>
            C. En otra ruta local, clonar el repositorio de properties para atlas {{m.versionAtlas}}. Para ello abrir el terminal de git y ejecutar <br>
          </p>
          <p class="codigo">
            git -c http.sslVerify=false clone https://[MATRICULA_AGILE_OPS]@bitbucket.lima.bcp.com.pe/scm/atla-config/atlas-services-properties-cer.git -b atlas-{{m.versionAtlas}}-azure
          </p>
          <p class="texto">
            Reemplazar [MATRICULA_AGILE_OPS] por la matrícula del Agile Ops
          </p>
          <p class="texto">
            D. En el directorio (atlas-services-properties-cer), de lo clonado en el punto C, agregar el siguiente archivo de la ruta local (\{{m.codeApplication}}-apis-config\yml\cer)
            <span class="nota">(si el archivo ya existe sobreescribirlo)</span>:<br>
            {{m.microserviceName}}-cer.yml
          </p>
          <p class="texto">
            E. Subir los cambios al repositorio. Para ello ejecutar en el terminal de git ejecutar
          </p>
          <p class="codigo">
            cd atlas-services-properties-cer <br>
            git add . <br>
            git config --global http.sslVerify false <br>
            git commit -m "{{m.numberMvp}}" <br>
            git pull origin atlas-{{m.versionAtlas}}-azure
          </p>
          <p class="section-title">2. Despliegue </p>
          <p class="section-executor"> Responsable: AGILEOPS</p>
          <p class="texto">
            A. Ingresar a la siguiente ruta: <br>
            <a href={{m.jobName?.certification}} target="_blank"> {{m.jobName?.certification}}</a> <br>
            B. En configurar,  Ingresar la rama: develop <br>
            C. Ejecutar el job con la opción Build Now
          </p>

          <p class="section-title">3. Validación </p>
          <p class="section-executor"> Responsable: AGILEOPS</p>
          <p class="texto">
            Conectarse al cloud shell al Portal Azure suscripción {{m.suscriptionName}} y ejecutar los siguientes comando:
          </p>

          <p class="codigo">
            az account set -s {{m.suscriptionId}} <br>
            az aks get-credentials --resource-group {{m.resourceGroup?.certification}} --name {{m.nameAks?.certification}} -a
          </p>
          <p class="nota">
            * Autenticar si es solicitado
          </p>
          <p class="texto">
            Obtener el nombre del pod con el siguiente comando:
          </p>
          <p class="codigo">
            kubectl -n {{m.codeApplication}} get pods | grep {{m.microserviceName}}
          </p>
          <p class="nota">
            *Validar que el estado del pod sea 1/1 y enviar evidencia
          </p>
        </div>
      </div>
      <br />

      <!-- PRODUCCION
      <mat-divider></mat-divider>
      <div>
        <div class="sub-title"> Producción </div>
        <div *ngFor="let m of microservices">
          <p class="section-title" *ngIf="m.microserviceName">{{m.microserviceName}} </p>
        </div>
      </div>-->
    </div>
  </mat-tab>

  <!-- MODO TEXTO -->
  <mat-tab label="Modo Texto">
    <div *ngIf="resources.length>0">
    ||Nombre de recurso||Alias||
      <div *ngFor="let resource of resources">
        <div class="section-detail" *ngIf="resource.certification">|{{resource.certification}}|{{resource.alias}}| </div>
      </div>
    </div>

    <div *ngIf="microservices.length>0">
        <div *ngFor="let m of microservices">
          h1. +{{m.microserviceName}}+ <br>
          h1. 1. Actualizar archivos de propiedades <br>
          h2. &#123;color:#d04437&#125;Responsable: AGILEOPS Y COS ACCESOS&#123;color&#125; <br>
          *A.* Descargar los archivos del siguiente repositorio (branch develop) [{{m.repositoryConfig?.certification}} | {{m.repositoryConfig?.certification}}] <br>
          *B.* Descomprimir (ruta local). En la ruta *\{{m.codeApplication}}-apis-config\yml\cer* <br>
          *C.* En otra ruta local, clonar el repositorio de properties para atlas {{m.versionAtlas}}. Para ello abrir el terminal de git y ejecutar <br>
          &#123;code:java&#125; <br>
          git -c http.sslVerify=false clone https://[MATRICULA_AGILE_OPS]@bitbucket.lima.bcp.com.pe/scm/atla-config/atlas-services-properties-cer.git -b atlas-{{m.versionAtlas}}-azure <br>
          &#123;code&#125; <br>
          Reemplazar [MATRICULA_AGILE_OPS] por la matrícula del Agile Ops <br>
          <br>
          *D.* En el directorio (atlas-services-properties-cer), de lo clonado en el punto C, agregar el siguiente archivo de la ruta local (\{{m.codeApplication}}-apis-config\yml\cer)
          &#123;color:#d04437&#125;(si el archivo ya existe sobreescribirlo)&#123;color&#125;:<br>
          * {{m.microserviceName}}-cer.yml <br>
          <br>
          *E.* Subir los cambios al repositorio. Para ello ejecutar en el terminal de git ejecutar <br>
          &#123;code:java&#125; <br>
          cd atlas-services-properties-cer <br>
          git add . <br>
          git config --global http.sslVerify false <br>
          git commit -m "{{m.numberMvp}}" <br>
          git pull origin atlas-{{m.versionAtlas}}-azure <br>
          &#123;code&#125; <br>
          <br>
          h1. 2. Despliegue <br>
          h2. &#123;color:#d04437&#125;Responsable: AGILEOPS&#123;color&#125; <br>
          *A.* Ingresar a la siguiente ruta: <br>
          [{{m.jobName?.certification}} | {{m.jobName?.certification}}]<br>
          *B.* En configurar, Ingresar la rama: develop <br>
          *C.* Ejecutar el job con la opción Build Now <br>
          <br>
          h1. 3. Validación <br>
          h2. &#123;color:#d04437&#125;Responsable: AGILEOPS&#123;color&#125; <br>
          *A.* Conectarse al cloud shell al Portal Azure suscripción {{m.suscriptionName}} y ejecutar los siguientes comando: <br>
          &#123;code:java&#125; <br>
          az account set -s {{m.suscriptionId}} <br>
          az aks get-credentials --resource-group {{m.resourceGroup?.certification}} --name {{m.nameAks?.certification}} -a <br>
          &#123;code&#125; <br>
          Nota: Autenticar si es solicitado <br>
          <br>
          *B.* Obtener el nombre del pod con el siguiente comando: <br>
          &#123;code:java&#125; <br>
          kubectl -n {{m.codeApplication}} get pods | grep {{m.microserviceName}}
          &#123;code&#125; <br>
          *C.* Validar que el estado del pod sea 1/1 y enviar evidencia

        </div>
      </div>

  </mat-tab>
</mat-tab-group>




<router-outlet></router-outlet>
