#outer {
    width:100%;
    text-align: center;
}
.inner {
    display: inline-block;
    padding: 1em;
}

.title {
  font-size: xx-large;
  text-align: center;
}

.sub-title {
  font-size: x-large;
  text-align: left;
  padding-bottom: 0.5em;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.section-title{
  font-size: x-large;
  margin-top: 1rem;
}

.section-executor {
  font-size: larger;
  font-weight:bold;
  color: #D04437;
}

.section-subtitle {
  font-size:large;
}

.section-detail {
  font-size:small;
}

.tab {
  tab-size: 2;
}

.texto {
  tab-size: 2;
}

.nota {
  tab-size: 2;
  color: #D04437;
}

.codigo {
    font-family: 'Courier New', monospace;
    overflow-x: auto;
    margin: 1em 0 1em;
    padding: 0.5em;
    max-width: 100%;
    font-size: 1.2rem;
    line-height: 1em;
    background: #EAEAEA;
}
