
  <h2 mat-dialog-title>Procedimiento</h2>
  <mat-divider></mat-divider>
  <mat-dialog-content [formGroup]="form">

    <mat-form-field class="full-width" appearance="outline" >
      <mat-label>Título</mat-label>
      <input matInput
          placeholder="Título"
          formControlName="title">
    </mat-form-field>
    <br/>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Responsable</mat-label>
      <mat-select
          formControlName="executor">
        <mat-option *ngFor="let executor of executors" [value]="executor.codeValue">
          {{executor.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>

    <mat-form-field class="full-width" appearance="outline" >
      <mat-label>Sub Título</mat-label>
      <input matInput
          placeholder="Sub Título"
          formControlName="subtitle">
    </mat-form-field>
    <br/>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Estilo</mat-label>
      <mat-select
          formControlName="style">
        <mat-option *ngFor="let style of styles" [value]="style.codeValue">
          {{style.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Detalle de la instrucción</mat-label>
      <textarea matInput
          placeholder="Detalle de la instrucción"
          formControlName="detail"></textarea>
    </mat-form-field>
    <br/>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button (click)="close()" color="primary">Cancelar</button>
    <button mat-raised-button (click)="save()" color="primary">Agregar</button>
  </mat-dialog-actions>
